[Unit]
Description=HedgeDoc
After=network.target

[Container]
Image=quay.io/hedgedoc/hedgedoc:latest
PublishPort=3000
Pull=newer
Volume=/var/lib/hedgedoc:/var/lib/hedgedoc
Volume=/var/lib/hedgedoc/uploads:/hedgedoc/public/uploads
Environment=CMD_DB_URL=sqlite:///var/lib/hedgedoc/db.sqlite

[Service]
Restart=always
ExecStartPre=mkdir -m 755 -p /var/lib/hedgedoc/uploads

[Install]
WantedBy=multi-user.target
