[Unit]
Description=qBittorrent
After=network.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
PublishPort=8080:8080
PublishPort=6881:6881
Pull=newer
Volume=/var/local/lib/qbittorrent:/config
Volume=/ext/media/downloads:/downloads

[Service]
Restart=always
ExecStartPre=mkdir -p /var/local/lib/qbittorrent

[Install]
WantedBy=multi-user.target
