[Unit]
Description=Radarr
After=network.target

[Container]
Image=ghcr.io/hotio/radarr:latest
PublishPort=7878:7878
Pull=newer
Volume=/var/local/lib/radarr:/config
Volume=/ext/media:/ext/media:rw
Group=998

[Service]
Restart=always
Group=media
ExecStartPre=mkdir -m 755 -p /var/local/lib/radarr

[Install]
WantedBy=multi-user.target
